In [3]:
import pandas as pd

test = pd.read_csv("greedy_res_2468.csv")
test

,dataset,Methods,x,workers,tasks,weights,avg_weights,ratio(task),ratio(worker),CPU time(s),normal_worker_ratio,normal_task_ratio,normal_utility_ratio
0,SMAP,greedy,2,2000,2000,16911.977763,15.222302,0.555500,0.555500,5.668161,0.663680,0.990840,0.665773
1,SMAP,greedy,4,2000,2000,18835.635416,15.657220,0.601500,0.601500,6.282235,0.664519,0.990609,0.667475
2,SMAP,greedy,6,2000,2000,20014.120558,16.118755,0.620833,0.620833,6.309667,0.662929,0.990568,0.662129
3,SMAP,greedy,8,2000,2000,21050.390750,16.601255,0.634000,0.634000,6.440902,0.661565,0.990261,0.660010
4,SMAP,greedy,10,500,2000,5015.291729,15.091149,0.166167,0.664667,4.018055,0.665110,0.988659,0.661883
5,SMAP,greedy,10,1000,2000,10178.776786,15.414604,0.330167,0.660333,5.359602,0.660554,0.992331,0.660111
6,SMAP,greedy,10,1500,2000,15988.995741,16.139632,0.495333,0.660444,5.738792,0.661621,0.991318,0.661635
7,SMAP,greedy,10,2000,2000,21463.492278,16.922596,0.634167,0.634167,6.448764,0.662200,0.991298,0.661849
8,SMAP,greedy,10,2500,2000,21652.256508,16.329002,0.663000,0.530400,7.650417,0.663000,0.990833,0.663586
9,SMAP,greedy,10,2000,500,4993.861373,15.087194,0.662000,0.165500,4.048154,0.662000,0.989333,0.660230
10,SMAP,greedy,10,2000,1000,10182.291819,15.373365,0.662333,0.331167,5.139175,0.662333,0.991333,0.661198
11,SMAP,greedy,10,2000,1500,15997.748900,16.164785,0.659778,0.494833,5.708596,0.662871,0.991069,0.664138
12,SMAP,greedy,10,2000,2500,21667.698210,16.365331,0.529600,0.662000,7.476454,0.662000,0.991667,0.662003

In [4]:
anomaly = pd.read_csv("anomaly_based_greedy_res_2468.csv")
anomaly

,dataset,Methods,x,workers,tasks,weights,avg_weights,ratio(task),ratio(worker),CPU time(s),normal_worker_ratio,normal_task_ratio,normal_utility_ratio
0,SMAP,greedy+outlier,2,2000,2000,16904.564841,15.215630,0.555500,0.555500,5.516934,0.663812,0.991038,0.665861
1,SMAP,greedy+outlier,4,2000,2000,18817.916750,15.642491,0.601500,0.601500,6.210732,0.664641,0.990792,0.667530
2,SMAP,greedy+outlier,6,2000,2000,19967.181015,16.080951,0.620833,0.620833,6.353944,0.663047,0.990744,0.662093
3,SMAP,greedy+outlier,8,2000,2000,20993.588028,16.543411,0.634500,0.634500,6.286235,0.661972,0.990436,0.659998
4,SMAP,greedy+outlier,10,500,2000,5015.291729,15.091149,0.166167,0.664667,3.976027,0.665110,0.988659,0.661883
5,SMAP,greedy+outlier,10,1000,2000,10169.653991,15.400788,0.330167,0.660333,5.194587,0.660774,0.992662,0.660068
6,SMAP,greedy+outlier,10,1500,2000,15931.798676,16.081896,0.495333,0.660444,5.790583,0.661621,0.991318,0.660991
7,SMAP,greedy+outlier,10,2000,2000,21438.404599,16.880634,0.635000,0.635000,6.438397,0.662609,0.991478,0.662094
8,SMAP,greedy+outlier,10,2500,2000,21598.266734,16.288286,0.663000,0.530400,7.428646,0.663111,0.990998,0.663404
9,SMAP,greedy+outlier,10,2000,500,4991.285463,15.079412,0.662000,0.165500,4.037485,0.662000,0.989333,0.660114
10,SMAP,greedy+outlier,10,2000,1000,10180.931316,15.371310,0.662333,0.331167,5.231416,0.662554,0.991664,0.661511
11,SMAP,greedy+outlier,10,2000,1500,15949.432048,16.115964,0.659778,0.494833,5.786953,0.663019,0.991291,0.663869
12,SMAP,greedy+outlier,10,2000,2500,21596.784083,16.311770,0.529600,0.662000,7.524813,0.662000,0.991667,0.661477

In [29]:
import pickle
import pandas as pd

with open('../../SA-GAN/datasets/test/MSL/T-4.pkl', 'rb') as file:
    data = pickle.load(file)

df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2213,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2214,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2214,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2215,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2217,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0